/*******************************************************************************************************************/
/***************************************** CSS *********************************************************************/
/*******************************************************************************************************************/

@font-face {
    font-family: arrows;
    src: url("fonts/Arrows.otf") format('opentype'), url("fonts/Arrows.ttf") format('truetype');
}

/*******************************************************************************************************************/
body {
    padding: 0;
    margin: 0;
}

.mainWindow {
    height: 700px;
    width: 1200px;
    border: 2px black solid;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

.workPlace {
    margin-top: 100px;
    margin-left: 100px;
    width: 1100px;
    height: 600px;
    position: absolute;
}

/*******************************************************************************************************************/

.mainMenu {
    float: left;
    background-color: #CC99CC;
    position: absolute;
    width: 1200px;
    height: 99px;
    border-bottom: 1px black solid;
}

.mainMenuButton {
    float: left;
    height: 84px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-left: 14px;
    line-height: 90px;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    border: 3px black solid;
    border-radius: 15px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mainMenuButtonNormal {
    background-color: #660066;
    color: #FFF;
}

.mainMenuButtonChanging {
    background-color: #FFF;
    color: black;
}

/*******************************************************************************************************************/

.siteMenu {
    float: left;
    position: absolute;
    background-color: #FFF;
    margin-top: 100px;
    width: 98px;
    height: 598px;
    border: 1px black solid;
}

.playerButton {
    height: 84px;
    width: 84px;
    font-size: 55px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.playerNick {
    font-size:15px;

}

.siteMenuButton {
    margin-top: 25px;
    margin-left: 5px;
}

.playerListButton {
    float: left;
    margin-top: 25px;
    margin-left: 25px;
}

.siteMenuButtonSelected {
    background-color: #CC99CC;
    border: 3px black solid;
    color: white;
}

.siteMenuButtonUnselected {
    background-color: #660066;
    border: 3px black solid;
    color: white;
    transition: all 3s;
    -moz-transition: all 3s;
    -webkit-transition: all 3s;
    -o-transition: all 3s;
}

.siteMenuButtonBlank {
    background-color: white;
    color: gray;
    border: 3px dotted gray;
}

/*******************************************************************************************************************/

.dataPlayerHeadline {
    font-size: 25px;
    float:left;
    width: 200px;
    text-align:center;
    margin-top:12px;
}

.basicIncrementalButtons {
    width:400px;
    float:left;
}

.faulPlus {
}

.faulMinus {
}

.incrementalButtonMain {
    float:left;
    margin-left:55px;
    margin-right:55px;
}

.playground {
    float:left;
    width:500px;
    height:470px;
}

.name {
    float:left;
    font-size: 35px;
    color: black;
    height: 50px;
    border: 3px solid black;
    line-height:50px;
    vertical-align:middle;
    padding-left:4px;
}

.name-normal {
    width: 490px;
}

.name-leftRight {
    width: 460px;
    left:15px;
    position:relative;
}


.shotsIncrementalButtons {
    width:200px;
    height:390px;
    float:left;
}

.playgroundSVG-leftOriented {
    transform:rotate(90deg) translateX(15px);
    -webkit-transform:rotate(90deg) translateX(15px);
}

.playgroundSVG-upsiteDown {
    transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
}

.playgroundSVG-rightOriented {
    transform:rotate(-90deg) translateX(-15px);
    -webkit-transform:rotate(-90deg) translateX(-15px);
}

.playgroundSVG-normal {
}


/*******************************************************************************************************************/

.penaltyNumberButton {
    float:left;
    margin-top:5px;
    margin-right:10px;
}

/*******************************************************************************************************************/

.loadScreenLoadData {
    position:absolute;
    margin-top:20px;
    margin-left:20px;
    border:3px solid black;
    width:240px;
    height:400px;
    padding-left:30px;
    padding-right:30px;
    padding-top:100px;
    font-size:20px;
    text-align:center;
    transition: all 2s;
}

.loadScreanFromWeb {
    top:27px;
    left:27px;
}

.loadScreanFromFile {
    top:27px;
    left:377px;
}

.loadScreanNoData {
    top:27px;
    left:727px;
}

.saveDataInFile {
    top:27px;
    left:377px;
}

.loadScreanFromWeb .loadScreenButton {
    background-color: #660066;

}

.loadScreanFromFile .loadScreenButton {
    background-color: gray;
}

.loadScreanNoData .loadScreenButton {
    background-color: #660066;
}


.saveDataInFile .loadScreenButton {
    background-color: #660066;
}

/*.loadScreenLoadData:hover {
    margin-top:0px;
    margin-left:0px;
    height:440px;

    transition: all 2s;
    -moz-transition: all 2s;
    -webkit-transition: all 2s;
    -o-transition: all 2s;

    padding-left:50px;
    padding-right:50px;
}*/

.loadScreenButton {
    border: 3px black solid;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    height:50px;
    text-align:center;
    font-size:25px;
    line-height:50px;
    vertical-align:middle;
    position:absolute;
    width:240px;
    top:350px;
}

.loadScreenDropField {
    border: 2px dotted gray;
    padding-top:40px;
    color: gray;
    text-align:center;
    height:100px;
    width:240px;
}

.ui-dialog .ui-dialog-titlebar-close {
    height: 35px;
    width: 35px;
    margin: -17px 0 0;
}

.arrowButton {
    font-family: arrows;
    font-size: 60px;
    color: white;
    background-color: #660066;
    border: 3px solid black;
    border-radius: 15px;
    width: 70px;
    height: 70px;
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
    float: left;
    margin-left: 17px;
    cursor: pointer;
}