/*******************************************************************************************************************/
/***************************************** CSS *********************************************************************/
/*******************************************************************************************************************/

@font-face {
    font-family: arrows;
    src: url("fonts/Arrows.otf") format('opentype'), url("fonts/Arrows.ttf") format('truetype');
}

/*******************************************************************************************************************/
body {
    padding: 0;
    margin: 0;
}

.mainWindow {
    border: 2px black solid;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

.workPlace {
    position: absolute;
}

/*******************************************************************************************************************/
/*******************************************************************************************************************/

@media (max-device-width:1024px) {
    .mainWindowDimension {
        width: 640px;
        height:1200px;
    }

    .workPlaceDimension {
        margin-top: 160px;
        width: 640px;
        padding-bottom:10px;
    }

    .mainMenuDimension {
        width: 638px;
        height: 79px;
        border:1px solid black;
    }

    .mainMenuButtonDimension {
        height: 64px;
        padding-left: 8px;
        padding-right: 8px;
        margin-top: 5px;
        margin-left: 10px;
        line-height: 70px;
        font-size: 36px;
        border-radius: 10px;
    }

    .siteMenuDimension {
        margin-top: 80px;
        width: 638px;
        height: 78px;
    }

    .playerButtonDimension {
        height: 64px;
        width: 64px;
        font-size: 45px;
        border-radius: 10px;
    }

    .playerNick {
        font-size: 10px;
    }

    .siteMenuButton {
        margin-top: 5px;
        margin-left: 48px;
        float: left;
    }

    .playerListButton {
        float: left;
        margin-top: 20px;
        margin-left: 48px;
    }

    .basicIncrementalButtons {
        margin-top: 70px;
        margin-left: 20px;
        width: 400px;
        float: left;
    }

    .dataPlayerHeadline {
        font-size: 20px;
        float: left;
        width: 200px;
        text-align: center;
        margin-top: 5px;
    }

    .incrementalButtonMain {
        float: left;
        margin-left: 65px;
        margin-right: 65px;
        height: 64px;
        width: 64px;
        line-height: 80px;
        font-size: 45px;
        border-radius: 15px;
    }

    .playground {
        position:absolute;
        left:70px;
        top: 500px;
        width: 500px;
        height: 470px;
    }

    .versionWidth {
        width: 640px;
    }

    .arrowButtonDimension {
        border-radius: 15px;
        width: 65px;
        height: 65px;
        line-height: 55px;
        text-align: center;
        position: absolute;
        font-size: 50px;
        left: 485px;
    }

    .arrowButtonDimensionLeft {
        top: 348px;
    }

    .arrowButtonDimensionRight {
        top: 417px;
    }

    .loadScreenButtonDimension {
        border-radius: 15px;
        height: 50px;
        font-size: 25px;
        line-height: 50px;
        width: 600px;
        margin-top:30px;
    }

    .loadScreanFromWeb {
        top:5px;
    }

    .loadScreanFromFile {
        top:330px;
    }

    .loadScreanNoData {
        top: 660px;
    }

    .saveDataInFile {
        left: 330px;
    }

    .loadScreenLoadDataDimension {
        width: 596px;
        height: 200px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        font-size: 20px;
    }

    .name-normal {
        width: 632px;
    }

    .name-leftRight {
        width: 632px;
    }

    .name {
        position: absolute;
    }

    .shotsIncrementalButtons {
        width: 200px;
        height: 390px;
        position: absolute;
        left: 420px;
        top:70px;
    }
}

/*******************************************************************************************************************/

@media (max-device-width:1200px) and (min-device-width:1024px) {
    .mainWindowDimension {
        height: 600px;
        width: 1024px;
    }

    .workPlaceDimension {
        margin-top: 80px;
        margin-left: 80px;
        width: 944px;
        height: 520px;
    }

    .mainMenuDimension {
        width: 1024px;
        height: 79px;
    }

    .mainMenuButtonDimension {
        height: 64px;
        padding-left: 8px;
        padding-right: 8px;
        margin-top: 5px;
        margin-left: 10px;
        line-height: 70px;
        font-size: 36px;
        border-radius: 15px;
    }

    .siteMenuDimension {
        margin-top: 80px;
        width: 78px;
        height: 518px;
    }

    .playerButtonDimension {
        height: 64px;
        width: 64px;
        font-size: 45px;
        border-radius: 10px;
    }

    .playerNick {
        font-size: 10px;
    }

    .siteMenuButton {
        margin-top: 29px;
        margin-left: 5px;
    }

    .playerListButton {
        float: left;
        margin-top: 20px;
        margin-left: 20px;
    }

    .basicIncrementalButtons {
        margin-top: 70px;
        width: 300px;
        float: left;
    }

    .dataPlayerHeadline {
        font-size: 18px;
        float: left;
        width: 140px;
        text-align: center;
        margin-top: 5px;
    }

    .incrementalButtonMain {
        float: left;
        margin-left: 38px;
        margin-right: 38px;
        height: 64px;
        width: 64px;
        line-height: 80px;
        font-size: 45px;
        border-radius: 15px;
    }

    .playground {
        float: left;
        width: 500px;
        height: 470px;
    }

    .versionWidth {
        width: 1024px;
    }

    .arrowButtonDimension {
        border-radius: 15px;
        width: 60px;
        height: 60px;
        line-height: 50px;
        text-align: center;
        position: absolute;
        font-size: 50px;
        left: 810px;
    }

    .arrowButtonDimensionLeft {
        top: 315px;
    }

    .arrowButtonDimensionRight {
        top: 405px;
    }

    .loadScreenButtonDimension {
        border-radius: 15px;
        height: 50px;
        font-size: 25px;
        line-height: 50px;
        width: 240px;
        top: 350px;
    }

    .loadScreanFromWeb {
        left: 11px;
    }

    .loadScreanFromFile {
        left: 322px;
    }

    .loadScreanNoData {
        left: 633px;
    }

    .saveDataInFile {
        left: 322px;
    }

    .loadScreenLoadDataDimension {
        position: absolute;
        width: 260px;
        height: 415px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 100px;
        font-size: 20px;
    }

    .name-normal {
        width: 293px;
    }

    .name-leftRight {
        width: 293px;
    }

    .name {
        position: absolute;
    }

    .shotsIncrementalButtons {
        width: 140px;
        height: 390px;
        position: absolute;
        left: 802px;
    }
}

/*******************************************************************************************************************/

@media (min-device-width:1200px) {
    .mainWindowDimension {
        height: 700px;
        width: 1200px;
    }

    .workPlaceDimension {
        margin-top: 100px;
        margin-left: 100px;
        width: 1100px;
        height: 600px;
    }

    .mainMenuDimension {
        width: 1200px;
        height: 99px;
    }

    .mainMenuButtonDimension {
        height: 84px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 5px;
        margin-left: 14px;
        line-height: 90px;
        font-size: 40px;
        border-radius: 15px;
    }

    .siteMenuDimension {
        margin-top: 100px;
        width: 98px;
        height: 598px;
    }

    .playerButtonDimension {
        height: 84px;
        width: 84px;
        font-size: 55px;
        border-radius: 15px;
    }

    .playerNick {
        font-size: 15px;
    }

    .siteMenuButton {
        margin-top: 25px; /* After adding "others" button, change to 9px. */
        margin-left: 5px;
    }

    .playerListButton {
        float: left;
        margin-top: 25px;
        margin-left: 25px;
    }

    .basicIncrementalButtons {
        width: 400px;
        float: left;
    }

    .dataPlayerHeadline {
        font-size: 25px;
        float: left;
        width: 200px;
        text-align: center;
        margin-top: 12px;
    }

    .incrementalButtonMain {
        float: left;
        margin-left: 55px;
        margin-right: 55px;
    }

    .playground {
        float: left;
        width: 500px;
        height: 470px;
    }

    .versionWidth {
        width: 1200px;
    }

    .arrowButtonDimension {
        border-radius: 15px;
        width: 70px;
        height: 70px;
        line-height: 60px;
        text-align: center;
        float: left;
        margin-left: 17px;
        font-size: 60px;
    }

    .loadScreenButtonDimension {
        border-radius: 15px;
        height: 50px;
        font-size: 25px;
        line-height: 50px;
        width: 240px;
        top: 350px;
    }

    .loadScreanFromWeb {
        top: 27px;
        left: 27px;
    }

    .loadScreanFromFile {
        top: 27px;
        left: 377px;
    }

    .loadScreanNoData {
        top: 27px;
        left: 727px;
    }

    .saveDataInFile {
        top: 27px;
        left: 377px;
    }

    .loadScreenLoadDataDimension {
        position: absolute;
        margin-top: 20px;
        margin-left: 20px;
        width: 240px;
        height: 400px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 100px;
        font-size: 20px;
    }

    .name-normal {
        width: 490px;
    }

    .name-leftRight {
        width: 460px;
        left: 15px;
        position: relative;
    }

    .shotsIncrementalButtons {
        width: 200px;
        height: 390px;
        float: left;
    }
}

/*******************************************************************************************************************/
/*******************************************************************************************************************/

.mainMenu {
    float: left;
    background-color: #CC99CC;
    position: absolute;
    border-bottom: 1px black solid;
}

.mainMenuButton {
    float: left;
    text-align: center;
    vertical-align: middle;
    border: 3px black solid;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mainMenuButtonNormal {
    background-color: #660066;
    color: #FFF;
}

.mainMenuButtonChanging {
    background-color: #FFF;
    color: black;
}

/*******************************************************************************************************************/

.siteMenu {
    float: left;
    position: absolute;
    background-color: #FFF;
    border: 1px black solid;
}

.playerButton {
    text-align: center;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.siteMenuButtonSelected {
    background-color: #CC99CC;
    border: 3px black solid;
    color: white;
}

.siteMenuButtonUnselected {
    background-color: #660066;
    border: 3px black solid;
    color: white;
    transition: all 3s;
    -moz-transition: all 3s;
    -webkit-transition: all 3s;
    -o-transition: all 3s;
}

.siteMenuButtonBlank {
    background-color: white;
    color: gray;
    border: 3px dotted gray;
}

.siteMenu .Other {
    position: absolute;
    height: 84px;
    width: 84px;
    line-height: 90px;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    border-radius: 15px;
    cursor: pointer;
    background-color: #660066;
    color: white;
    border: 3px black solid;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 5px;
    margin-top: 502px;
}

/*******************************************************************************************************************/

.faulPlus {
}

.faulMinus {
}

.name {
    float: left;
    font-size: 35px;
    color: black;
    height: 50px;
    border: 3px solid black;
    line-height: 50px;
    vertical-align: middle;
    padding-left: 4px;
}

.playgroundSVG-leftOriented {
    transform: rotate(90deg) translateX(15px);
    -webkit-transform: rotate(90deg) translateX(15px);
}

.playgroundSVG-upsiteDown {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.playgroundSVG-rightOriented {
    transform: rotate(-90deg) translateX(-15px);
    -webkit-transform: rotate(-90deg) translateX(-15px);
}

.playgroundSVG-normal {
}

.playgroundSVG {
    overflow: hidden;
}


/*******************************************************************************************************************/

.penaltyNumberButton {
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}

/*******************************************************************************************************************/

.loadScreenLoadData {
    border: 3px solid black;
    text-align: center;
    transition: all 2s;
}

.loadScreanFromWeb .loadScreenButton {
    background-color: #660066;
}

.loadScreanFromFile .loadScreenButton {
    background-color: gray;
}

.loadScreanNoData .loadScreenButton {
    background-color: #660066;
}


.saveDataInFile .loadScreenButton {
    background-color: #660066;
}

.loadScreenButton {
    border: 3px black solid;
    color: white;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    position: absolute;
}

.ui-dialog .ui-dialog-titlebar-close {
    height: 35px;
    width: 35px;
    margin: -17px 0 0;
}

.arrowButton {
    font-family: arrows;
    color: white;
    background-color: #660066;
    border: 3px solid black;
    vertical-align: middle;
    cursor: pointer;
}

.ui-dialog .bigDobleDott {
    font-size: 45px;
    height: 70px;
    width: 20px;
    float:left;
    margin-top: 20px;
    margin-left: 5px;
}

.timeGettingNumbers {
    height: 84px;
    width: 84px;
    line-height: 90px;
    font-size: 60px;
    text-align: center;
    vertical-align: middle;
    border-radius: 15px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 3px black solid;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    margin-left: 5px;
}

.keyBoard {
    text-align: center;
    margin-top: 10px;
    margin-left: 8px;
    float: left;
}

    .keyBoard .timeGettingNumbers {
        margin-left: 5px;
        margin-top: 5px;
    }

    .keyBoard .zero {
        margin-left: 100px;
    }

    .keyBoard .ok {
        background-color: #660066;
        color: white;
        font-size: 35px;
    }

/*******************************************************************************************************************/
.solution {
    margin-top: 95px;
    height: 400px;
    width: 39%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-size: 35px;
    float: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 3px black solid;
    border-radius: 15px;
}

    .solution p {
        font-size:75px;
    }

.weWonSolution {
    background-color: #660066;
    color: white;
}

.opponentWonSolution {
    background: white;
}


/*******************************************************************************************************************/

.version {
    margin: 0 auto;
}
