.yesNoButton {
    height: 67px;
    width: 84px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 3px black solid;
    padding-top: 17px;
    margin-top: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.yesNoTupple {
    float: left;
    margin-left: 15px;
}

.yesNoHeadline {
    width: 90px;
    text-align: center;
}
